
@{
    ViewData["Title"] = "UserInput";
}

<div class="container">

    <br />
    <div class="alert alert-success">
        <strong>Success!</strong> Your form was received!
    </div>

    <br />
    
    <form>
        <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input type="text" value="@Model.FirstName" disabled/>
        <br/></div>
        
        <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input type="text" value="@Model.LastName" disabled/>
        <br/></div>
        
        <div class="form-group">
        <label for="Comment">Comment:</label>
        <input type="text" value="@Model.Comment" disabled/>
        </div>
    </form>
    
    <a href="" class="btn btn-success" role="button">Go back</a>

</div>

