
@{
    ViewData["Title"] = "Login";
}

<link href="/css/signin.css" rel="stylesheet">

<body class="text-center">

    @if (User.Identity.IsAuthenticated)
    {
        <div class="form-signin">
            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

            <h1 class="h3 mb-3 font-weight-normal">You are logged in!</h1>

            <label for="email" class="sr-only">Email address</label>
            <input type="email" disabled="true" autocomplete="off" name="email" class="form-control" placeholder="@User.Identity.Name" required autofocus>

            <label for="password" class="sr-only">Password</label>
            <input type="password" disabled="true" name="password" class="form-control" placeholder="**********" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="logout();">Logout</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </div> }

    else
    {
        <form class="form-signin" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <label for="email" class="sr-only">Email address</label>
            <input type="email" autocomplete="off" name="email" class="form-control" placeholder="Email address" required autofocus>

            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label> <br />
            </div>

            <button class="btn btn-lg btn-info btn-block" type="submit">Sign in</button>

        </form>

        <a href="/Account/Register">Create an account</a>


        <div asp-validation-summary="All"></div>

    }

</body>

