
@{
    ViewData["Title"] = "Register";
}

<link href="/css/signin.css" rel="stylesheet">

<div asp-validation-summary="All"></div>

<form class="form-signin" method="POST">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

    <h1 class="h3 mb-3 font-weight-normal">Registration Form</h1>

    <label for="email" class="sr-only">Email address</label>
    <input type="email" autocomplete="off" name="email" class="form-control" placeholder="Email address" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="repassword" class="form-control" placeholder="Re-type password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form> 

