
@{
    ViewData["Title"] = "Title";
}

<h2>JavaScript (METHOD: @ViewBag.method)</h2>

<script>
    $(document).ready(function(){
        $("p").click(function(){
            alert("The paragraph was clicked.");
        });
    });
</script>

<p>p tag</p>

<form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" autocomplete="off" placeholder="First Name" id="firstName"/>
    </div>
    
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" autocomplete="off" placeholder="Last Name" id="lastName"/>
    </div>
</form>

<button class="btn btn-default" action="Home" id="jsFillButton">Fill w/ JavaScript!</button>
<button class="btn btn-default" onclick="myJSFunction()">MyJSFunction</button>