@model IEnumerable<Result>

<h1>Database Model Page</h1>

<h2>@ViewBag.method</h2>

<div class="container">
    <br/>
    <div class="alert alert-info">
        <div class="glyphicon glyphicon-exclamation-sign"></div>
        <strong> Use this page to view and query the FitBase.</strong>
    </div>
    <br/>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-12 btn-group" style="width:100%">
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#fitdb">Toggle Model</button>
        </div>
    </div>
</div>

<div class="container collapse text-center" id="fitdb">
    <br/>
    @foreach (var p in Model)
    {
        <b>First Name: </b>
        @p.FirstName
        <br/>
        <b>Last Name: </b>
        @p.LastName
        <br/>
        <b>Comment: </b>
        @p.Comment
        <br/><br/>
    }
</div>

<br/><br/>
<div class="alert alert-info">
    <div class="glyphicon glyphicon-question-sign"></div>
    <strong>Query the FitBase database.</strong>
</div>

<form action="Database" method="post">
    <div class="form-group">
        <label for="ID">ID:</label>
        <input type="text" class="form-control" name="ID" placeholder="ID"/>
    </div>

    <div class="form-group">
        <label for="queryColumn">Column to Query:</label>
        <input type="text" class="form-control" name="queryColumn" placeholder="Column Name" disabled="true"/>
    </div>

    <div class="form-group">
        <label for="queryValue">Value to Find:</label>
        <input type="text" class="form-control" name="queryValue" placeholder="Query Value" disabled="true"/>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>


