@model ExercisesViewModel

@{
    ViewData["Title"] = "Exercises";
}

<button type="submit" class="btn btn-info btn-block" onclick="Home()">Back</button>

<br />

<div class="container">
    <h1 class="h4 mb-3 font-weight-normal text-center">Exercise List</h1>

    <form method="post" action="/Home/Exercises">
        <div class="form-group">
            <select class="form-control" onchange="this.form.submit()" name="chosenMuscleGroup" id="chosenMuscleGroup">
                <option disabled selected>Select a muscle group</option>
                @foreach (var p in Model.MuscleGroups)
                {
                    <option value="@p.MgId"> @p.MgName </option>
                }
            </select>
        </div>
    </form>

    @if (Model.ExercisesForMuscleGroup != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Exercise ID</th>
                    <th scope="col">Exercise Name</th>
                </tr>
            </thead>

            @foreach (var x in Model.ExercisesForMuscleGroup)
            {
                <tbody>
                <td>@x.ExID</td>
                <td>@x.ExName</td>
                </tbody>
            }
        </table>
    }



    <br />
</div>
