
@{
    ViewData["Title"] = "Welcome";
}

<div class="container-fluid">
    <button class="btn btn-info btn-block" action="Home" id="logWorkout">
        <a href="/Home/Log" style="color:inherit">Log a Workout</a>
    </button>

    <button class="btn btn-info btn-block" action="Identity" id="exerciseDirectory">
        <a href="/Home/Exercises" style="color:inherit">Exercise Directory</a>
    </button>

    <button class="btn btn-info btn-block">
        <a href="/Home/History" style="color:inherit">View Workout History</a>
    </button>

    <button class="btn btn-info btn-block" onclick="logout()">Logout</button>
</div>