
@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-primary">
    <div class="glyphicon glyphicon-exclamation-sign"></div>
    <strong> This page shows your fitness profile.</strong>
</div>

<h5>You are currently logged in as: @User.Identity.Name</h5>




